.sidebarObject {

    &_tittle {
        font-weight: 700;
        box-shadow: 2px 2px 2px 2px lightgray;

        &-selected {
            font-weight: 700;
            box-shadow: 2px 2px 2px 2px lightgray;
            background-color: lightgray;
        }
        
    }

    // &_list {
    

    // } 



    &_mineral {
        display: flex;
        border: 1px solid black;
        border-radius: 0.5rem;
        padding: 0.5rem;
        
        & > img {
            height: 1.5rem;
        }
    }
}


.selected {
    height: auto;
}