@import './styling/variables.scss';

.container {
    display: flex;

    &_sidebar {
        display: flex;
        flex-direction: column;
        width: 20%;
    }
    &_display {
        display: flex;
        flex-direction: column;
        padding: 0 25%;
        
    }
}



body {
    user-select: none;
}